<div *ngIf="posts; else loading">
    <div class="form-control">
        <input type="text" placeholder="Search..." [(ngModel)]="searchValue">
    </div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>author</th>
                <th>name</th>
                <th>date</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts | searchPosts:searchValue; let idx = index">
                <th>{{idx + 1}}</th>
                <th>{{post.author}}</th>
                <th>{{post.title}}</th>
                <th>{{post.date | date:'medium'}}</th>
                <th>
                    <a [routerLink]="['/admin', 'post', post.id, 'edit']">Open</a>
                    <button class="btn btn-danger" (click)="remove(post.id)">Delete</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <div>
        LOADING......
    </div>
</ng-template>